body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.contain {
    display: flex; 
    justify-content: center; 
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
  }
  .left-contain {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.35);
    background-color: #fff;
    padding: 1rem 1rem;
    margin-right: 20px;
    width: 50%;
    border-radius: 7px;
  }
.details{
    text-align: left;
}

.details span {
    font-size: 16px;
    color: #007bff;
    font-weight: bold;
  }
  

  .right-contain {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.35);
    padding: 1rem 1rem;
    width: 50%;
    background-color: #fff;
    border-radius: 7px;
  }

  .right-contain input[type="email"] {
    font-size: 16px;
    color: #007bff;
    font-weight: bold;
  }
  

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="button"],
input[type="submit"] {
    background-color: #1a416c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="button"]:hover,
input[type="submit"]:hover {
    background-color: #0b213a;
}

#appointment_details {
    margin-top: 20px;
}

#appointment_details p {
    margin-bottom: 10px;
}

#appointment_details span {
    font-weight: bold;
    color: #007bff;
}


.custom-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial;
    font-weight: bold;
}
  
  