<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN DASHBOARD</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:300" rel="stylesheet">
</head>
<body>

    <div id="mySidebarContainer">
        <div class="sidebar" id="mySidebar">
            <h2></h2>
            <ul>
                <li><a href="/home"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="/email"><i class="fa fa-envelope"></i> Email</a></li>
                <li><a href="/doctors"><i class="fa fa-user-md"></i> Doctors</a></li>
                <li><a href="/assistants"><i class="fa fa-users"></i> Assistants</a></li>
                <li>
                    <a href="#" onclick="logout(event)"><i class="fa fa-sign-out"></i> Logout</a>
                    <form id="logoutForm" action="{{ url_for('logout') }}" method="post" style="display: none;">
                    </form>
                </li>
            </ul>
        </div>
    </div>
    

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <script>
        function logout(event) {
            event.preventDefault();
            document.getElementById('logoutForm').submit(); 
        }
    </script>

</body>
</html>
